@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.4s linear;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --main-color: #443;
    --black: #000;
    --white: #fff;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: 0.2rem solid var(--main-color);
    --border-hover: 0.2rem dashed var(--main-color);
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* style header section  */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    background: var(--white);
}
.header .logo{
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-color);
}
.header .logo i{
    padding-left: 0.5rem;
}
.header .navbar ul{
    display: flex;
    list-style: none;
}

.header .navbar a{
    margin-left: 3rem;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    padding: .9rem 1.5rem;
    background: none;
    border-radius: var(--border-radius);
    color: var(--main-color);
    font-size: 1rem;
    cursor: pointer;
    border: var(--border);
}
.btn:hover{
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}
#menu-btn{
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

/* Style Home Section  */
section{
    padding: 2rem 9%;
}

.home{
    min-height: 100vh;
    padding-top: 13rem;
    background: url(../images/home-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .row .content{
    flex: 1 1 42rem;
}
.home .row .image{
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}
.home .row .image img{
    height: 25rem;
    animation: float 4s linear infinite;
}
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}

.home .row .content h3{
    font-size: 5rem;
    color: var(--main-color);
}



.image-slider{
    text-align: center;
    padding: 3rem 0;
}
.image-slider img{
    height: 7rem;
    cursor: pointer;
    margin: 0 0.1rem;
    margin-top: 5rem;
}

.image-slider img:hover{
    transform: translateY(-2rem);
}

/* style about section  */









/* media queires */
@media (max-width:991px) {
    html{
        font-size: 70%;
    }
    .header{
        padding: 2rem;
    }
    
}
@media (max-width:768px) {
    #menu-btn{
        display: initial;
    }
    section{
        padding: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        padding: 1.5rem 2rem;
        margin: 1rem;
        font-size: 1.8rem;   
        background: #eee;
        border-radius: 10px;
    }
    .header .navbar a:hover{
        background: #d88b44;
    }  
    .home{
        text-align: center;
    }
    .home .row .content h3{
        font-size: 3.5rem;
    }
}
@media (max-width:450px) {
    html{
        font-size: 60%;
    }
    
    .header{
        padding: 1rem;
    }
    .home .row .image img{
        height: auto;
        width: 100%;
    }
}
